<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Health goth beard umami, heirloom bushwick glossier DIY art party activated
      charcoal asymmetrical swag williamsburg. Adaptogen swag pok pok, cronut flexitarian
      organic kinfolk. Viral cray roof party hammock lo-fi jean shorts single-origin coffee k
      ale chips hell of direct trade you probably haven't heard of them hella pop-up.
      Tacos enamel pin poke, fingerstache salvia letterpress banh mi adaptogen semiotics 3 wolf
      moon etsy tumeric affogato retro. Fingerstache chia +1 wayfarers sartorial.
      Sustainable freegan man bun umami truffaut mumblecore biodiesel food truck gluten-free
      crucifix sartorial. Actually mlkshk church-key, plaid gochujang adaptogen seitan distillery.
    </p>
  </div>
</div>